.dashboard-container {
    padding: 15px;

    .title {
        font-size: 20px;
        font-weight: 600;
    }

    .content {
        display: flex;
        border: 1px solid goldenrod;

        .c-left {
            width: 50%;
            border: 1px solid red;
            display: flex;
            flex-wrap: wrap;

            .child {
                width: 50%;
                height: 150px;
                border: 1px solid blueviolet;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .c-right {
            width: 50%;
            border: 1px solid green;
            height: 300px;
        }
    }
}