.quiz-container {
    // padding: 20px;

    .title {
        font-size: 30px;
        font-weight: 6000;
    }

    legend {
        font-size: 15px;
    }

    .list-detail {
        padding: 15px;
    }
}